{
    "presets": [
      "react-app",
      [
        "@babel/preset-env",
        {
          "targets": "> 5%, not dead"
        }
      ]
    ],
    "plugins": [
      "babel-plugin-styled-components"
    ]
  }